body {
    background-color: #222;
    margin: 0; /* Убираем отступы у body */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Делаем body на всю высоту экрана */
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; /* Занимаем всю ширину */
}

.box {
    padding: 5px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    text-align: center;
    max-width: 1000px;
}

.card {
    width: 400px;
    align-items: center;
    justify-content: center;
    background-color: #0d0d0d;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column; /* Обеспечиваем вертикальное выравнивание внутри карточки */
    align-items: center;
    gap: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.photo {
    width: 200px; /* Ширина изображения */
    height: auto; /* Сохранение пропорций */
    cursor: pointer; /* Курсор в виде руки при наведении */
    border: 2px solid transparent; /* Исходная рамка изображения */
    transition: border 0.3s ease; /* Плавный переход для рамки */
}

.photo:hover {
    border: 2px solid #00aaff; /* Цвет рамки при наведении */
}

h2 {
    font-family: "SUSE", sans-serif;
    color: white;
}

h1 {
    font-family: "SUSE", sans-serif;
    color: white;
    font-size: 20px;
}
